html {
    font-family:"Work sans", sans-serif;
    background-color: rgb(77, 77, 77);
    width: 80%;
    margin:auto;
}

body  {
    
    background-color: rgb(163, 163, 163);
    text-align: center;
}

#clock {
    background-color: black;
    color: white;
    margin: auto;
    width: 30%;
    font-size: 450%;
    border: 5px solid rgb(255, 255, 255);
    
}

